{% extends 'base.html.twig' %}

{% block title %} Catégorie {% endblock %}

{% block body %}

                <h1>Toutes les séries de la catégorie : {{ category.name }}</h1>

        {% for program in programs %}

            <p>Categorie : {{ program.category.name }}</p>

        {% endfor %}

                <a href="{{ path('wild_index') }}">Retour aux séries</a>

{% endblock %}
